/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




link pola : subtle patterns

menyetop main dan saibar :

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}




body {
	font: 16px/28px arial, sans-serif;
	background-color: #eaeaea;
	color: #333;
	background-image: url(img/bw.jpg);}

h1.judul{ color: blue;
        font-size: 35px;
        font-family:'Times New Roman';}

li{ display: inline-block;
        margin-top: 5px;
        margin-right: 5px;}

.header a{      color: rgb(153, 4, 34);
                font-size: 20px;}

.artikel{       color: rgb(24, 3, 119);
                font-size: 25px;
                margin-left: 10px;}

p.satu{  font-size: 18px;
        margin-left: 10px;}

p.dua{  font-size: 18px;
        color: blue;
        font-family: Georgia;
        font-weight: bold;
        margin-left: 10px;}

video{
        margin-left: 10px;
        margin-right: 10px;}

h4.credit{      font-size: 18px;
                margin-left: 10px;}

span.penulis{     font-size: 19px;
                color: red;}

span.tanggal{   font-size: 18px;
                color: blue;}

h2.daftar{      font-size: 25px;
                color: rgb(83, 6, 128);
                margin-left: 10px;}


.table1{        font-size: 18px;
                color: crimson;
                border-collapse: collapse;
                width: 100%;
                border: 1px so ;
                text-align: center;
        padding: 15px;}

.web{   margin-left: 20px;}



